
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<h2>Index</h2>
@ViewBag.test*@



    <div class="col-md-6">
        <table class="display" id="myDataTable">
            <thead>
                <tr>
                    <th>
                        EmpId
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Addressss
                    </th>
                </tr>
            </thead>
            <tbody>


                @if (@ViewBag.empList != null)
            {
                foreach (var item in ViewBag.empList)
                {
                        <tr>
                            <td>@item.EmpId</td>
                            <td>@item.Name</td>
                            <td>@item.Address</td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#myDataTable').dataTable();
          
        });
</script>


